<!DOCTYPE html>
<html>
<body>
<h2>Checkout MP</h2>
<p>Exemplo de integração do Checkout Mercado Pago.</p>
<script src="ejs.js"></script>  
<form action="https://developers.mercadopago.com/" method="GET">
  <script
   src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
   data-preference-id='<%= global.id %>'>
  </script>
</form>
</body>
</html>