<!DOCTYPE html>
<html>
<body>
<h2>Checkout MP redirect</h2>
<p>Integração do Checkout Mercado Pago.</p>
<script src="ejs.js"></script>  
    <a href="<%= global.init_point %>" target="_blank">Pagar</a>
  </script>
</body>
</html>